body {
    background: blue;
    color: #fff;
}

.head {
    width: 330px;
    height: 330px;
    border: 1px solid red;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
}

.circle {
    width: 150px;
    height: 150px;
    background: yellow;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
}
.circle2 {
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    animation: box 15s linear infinite;
}
@keyframes circle {
    0% {
        transform: rotate(0deg) translate(-165px) rotate(0deg);

    }

    100% {
        transform: rotate(360deg) translate(-165px) rotate(-360deg);
    }
}

 .hero {
    width: 330px;
    height: 330px;
    border: 1px solid red;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
}

.box {
    width: 50px;
    height: 50px;
    background: wheat;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    animation: circle 10s linear infinite;
}

 @keyframes box {
    0% {
        transform: rotate(0deg) translate(-165px) rotate(0deg);

    }

    100% {
        transform: rotate(360deg) translate(-165px) rotate(-360deg);
    }
}  